# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# production
**/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

runtime-packages
.eslintcache
themes/*

# build specifc files
lerna-debug.log
.eslintcache

**/Magento_Theme/
**/vendor

sample-packages/*/*
!sample-packages/*/app
sample-packages/*/app/etc/env.php
sample-packages/*/app/etc/NonComposerComponentRegistration.php
sample-packages/*/app/etc/db_schema.xml
sample-packages/*/app/etc/di.xml
sample-packages/*/app/etc/registration_globlist.php
sample-packages/*/app/etc/vendor_path.php
sample-packages/*/app/.htaccess
sample-packages/*/app/autoload.php
sample-packages/*/app/bootstrap.php
sample-packages/*/app/functions.php
!sample-packages/*/scandipwa
!sample-packages/*/cma.js
!sample-packages/*/package.json
!sample-packages/*/README.md
!sample-packages/*/.gitignore

!**/composer.*
# !**/cma.js
!/.gitignore
!**/.gitkeep