<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tutorial_import" translate="label" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100">
            <label>Tutorial Import</label>
            <tab>general</tab>
            <resource>Scandiweb_TutorialImport::product_import</resource>
            <group id="api" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100">
                <label>API</label>
                <field id="auth_token" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100">
                    <label>Authentication Token</label>
                </field>

                <field id="button" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import Products</label>
                    <frontend_model>Scandiweb\TutorialImport\Block\Adminhtml\System\Config\Form\Field\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
